# **–†–æ–∑—à–∏—Ä–µ–Ω–∏–π –ø–ª–∞–Ω-–∫–æ–Ω—Ç–µ–Ω—Ç –¥–ª—è –≥—Ä—É–ø–æ–≤–æ–≥–æ –∑–∞–Ω—è—Ç—Ç—è**  
## **–¢–µ–º–∞ 2. –ó–∞–Ω—è—Ç—Ç—è 9. –í–±—É–¥–æ–≤–∞–Ω—ñ –ø—Ä–æ—Ü–µ–¥—É—Ä–∏ —Ç–∞ —Ñ—É–Ω–∫—Ü—ñ—ó. –ü–æ–Ω—è—Ç—Ç—è –ø—Ä–æ —Ç—Ä–∏–≥–µ—Ä–∏ —Ç–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó.**  
### **1. –í–±—É–¥–æ–≤–∞–Ω—ñ –ø—Ä–æ—Ü–µ–¥—É—Ä–∏ —Ç–∞ —Ñ—É–Ω–∫—Ü—ñ—ó.**  
### **2. –ü–æ–Ω—è—Ç—Ç—è –ø—Ä–æ —Ç—Ä–∏–≥–µ—Ä–∏ —Ç–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó.**  

---

## **1. –í—Å—Ç—É–ø (10 —Ö–≤)**  

### **1.1. –ú–µ—Ç–∞ –∑–∞–Ω—è—Ç—Ç—è**  
- –û–∑–Ω–∞–π–æ–º–∏—Ç–∏ —Å–ª—É—Ö–∞—á—ñ–≤ —ñ–∑ –≤–±—É–¥–æ–≤–∞–Ω–∏–º–∏ –ø—Ä–æ—Ü–µ–¥—É—Ä–∞–º–∏ —Ç–∞ —Ñ—É–Ω–∫—Ü—ñ—è–º–∏ —É PostgreSQL.  
- –ù–∞–≤—á–∏—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ –º–µ—Ö–∞–Ω—ñ–∑–º —Ç—Ä–∏–≥–µ—Ä—ñ–≤ –¥–ª—è –∞–≤—Ç–æ–º–∞—Ç–∏–∑–∞—Ü—ñ—ó –æ–ø–µ—Ä–∞—Ü—ñ–π —É –±–∞–∑—ñ –¥–∞–Ω–∏—Ö.  
- –†–æ–∑–≥–ª—è–Ω—É—Ç–∏ –æ—Å–Ω–æ–≤–∏ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ–π —Ç–∞ —É–ø—Ä–∞–≤–ª—ñ–Ω–Ω—è –Ω–∏–º–∏ –≤ PostgreSQL.  
- –í–∏–∫–æ–Ω–∞—Ç–∏ –ø—Ä–∞–∫—Ç–∏—á–Ω—ñ –∑–∞–≤–¥–∞–Ω–Ω—è –¥–ª—è –∑–∞—Å–≤–æ—î–Ω–Ω—è –º–∞—Ç–µ—Ä—ñ–∞–ª—É.  

### **1.2. –û—á—ñ–∫—É–≤–∞–Ω—ñ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∏**  
–ü—ñ—Å–ª—è –∑–∞–Ω—è—Ç—Ç—è —Å–ª—É—Ö–∞—á—ñ –∑–º–æ–∂—É—Ç—å:  
‚úÖ –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ –≤–±—É–¥–æ–≤–∞–Ω—ñ —Ñ—É–Ω–∫—Ü—ñ—ó PostgreSQL (`STRING`, `DATE`, `AGGREGATE`).  
‚úÖ –°—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –≤–ª–∞—Å–Ω—ñ **–∑–±–µ—Ä–µ–∂–µ–Ω—ñ –ø—Ä–æ—Ü–µ–¥—É—Ä–∏** —Ç–∞ **—Ñ—É–Ω–∫—Ü—ñ—ó**.  
‚úÖ –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ **—Ç—Ä–∏–≥–µ—Ä–∏** –¥–ª—è –∞–≤—Ç–æ–º–∞—Ç–∏–∑–∞—Ü—ñ—ó –∑–º—ñ–Ω —É –±–∞–∑—ñ.  
‚úÖ –ö–µ—Ä—É–≤–∞—Ç–∏ **—Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è–º–∏** (`COMMIT`, `ROLLBACK`, `SAVEPOINT`).  

---

## **2. –í–±—É–¥–æ–≤–∞–Ω—ñ –ø—Ä–æ—Ü–µ–¥—É—Ä–∏ —Ç–∞ —Ñ—É–Ω–∫—Ü—ñ—ó (40 —Ö–≤)**  

### **2.1. –û–≥–ª—è–¥ –≤–±—É–¥–æ–≤–∞–Ω–∏—Ö —Ñ—É–Ω–∫—Ü—ñ–π PostgreSQL**  
üìå **–¢–∏–ø–∏ –≤–±—É–¥–æ–≤–∞–Ω–∏—Ö —Ñ—É–Ω–∫—Ü—ñ–π:**
1. **–§—É–Ω–∫—Ü—ñ—ó —Ä–æ–±–æ—Ç–∏ –∑ —Ä—è–¥–∫–∞–º–∏ (`STRING FUNCTIONS`)**  
2. **–§—É–Ω–∫—Ü—ñ—ó —Ä–æ–±–æ—Ç–∏ –∑ –¥–∞—Ç–∞–º–∏ (`DATE FUNCTIONS`)**  
3. **–ê–≥—Ä–µ–≥–∞—Ç–Ω—ñ —Ñ—É–Ω–∫—Ü—ñ—ó (`AGGREGATE FUNCTIONS`)**  

---

### **2.2. –§—É–Ω–∫—Ü—ñ—ó —Ä–æ–±–æ—Ç–∏ –∑ —Ä—è–¥–∫–∞–º–∏**  
üìå **–ü—Ä–∏–∫–ª–∞–¥–∏ —Ä–æ–±–æ—Ç–∏ –∑ —Ä—è–¥–∫–∞–º–∏:**  
```sql
SELECT UPPER('–∫–∞–ø—ñ—Ç–∞–Ω'); -- –í–ï–†–•–ù–Ü–ô –†–ï–ì–Ü–°–¢–†
SELECT LOWER('–õ–ï–ô–¢–ï–ù–ê–ù–¢'); -- –ù–ò–ñ–ù–Ü–ô –†–ï–ì–Ü–°–¢–†
SELECT CONCAT('–ö–æ–º–∞–Ω–¥–∏—Ä', ' ', '–ë–∞—Ç–∞–ª—å–π–æ–Ω—É'); -- –û–±'—î–¥–Ω–∞–Ω–Ω—è —Ä—è–¥–∫—ñ–≤
SELECT LENGTH('–í—ñ–π—Å—å–∫–æ–≤–∏–π'); -- –î–æ–≤–∂–∏–Ω–∞ —Ä—è–¥–∫–∞
```

---

### **2.3. –§—É–Ω–∫—Ü—ñ—ó —Ä–æ–±–æ—Ç–∏ –∑ –¥–∞—Ç–∞–º–∏**  
üìå **–ü—Ä–∏–∫–ª–∞–¥–∏ –æ–±—á–∏—Å–ª–µ–Ω–Ω—è –¥–∞—Ç:**  
```sql
SELECT CURRENT_DATE; -- –ü–æ—Ç–æ—á–Ω–∞ –¥–∞—Ç–∞
SELECT AGE('2000-01-01'); -- –í—ñ–∫ —É —Ä–æ–∫–∞—Ö –≤—ñ–¥ –∑–∞–¥–∞–Ω–æ—ó –¥–∞—Ç–∏
SELECT NOW(); -- –ü–æ—Ç–æ—á–Ω–∏–π —á–∞—Å
SELECT DATE_PART('year', NOW()); -- –í–∏—Ç—è–≥–Ω–µ–Ω–Ω—è —Ä–æ–∫—É –∑ –¥–∞—Ç–∏
```

---

### **2.4. –ê–≥—Ä–µ–≥–∞—Ç–Ω—ñ —Ñ—É–Ω–∫—Ü—ñ—ó**  
üìå **–ü—Ä–∏–∫–ª–∞–¥–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –∞–≥—Ä–µ–≥–∞—Ç–Ω–∏—Ö —Ñ—É–Ω–∫—Ü—ñ–π:**  
```sql
SELECT COUNT(*) FROM Personnel; -- –ö—ñ–ª—å–∫—ñ—Å—Ç—å –≤—ñ–π—Å—å–∫–æ–≤–æ—Å–ª—É–∂–±–æ–≤—Ü—ñ–≤
SELECT AVG(salary) FROM Personnel; -- –°–µ—Ä–µ–¥–Ω—è –∑–∞—Ä–ø–ª–∞—Ç–∞
SELECT MAX(salary) FROM Personnel; -- –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –∑–∞—Ä–ø–ª–∞—Ç–∞
SELECT MIN(salary) FROM Personnel; -- –ú—ñ–Ω—ñ–º–∞–ª—å–Ω–∞ –∑–∞—Ä–ø–ª–∞—Ç–∞
```

---

### **2.5. –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –≤–ª–∞—Å–Ω–∏—Ö –ø—Ä–æ—Ü–µ–¥—É—Ä —Ç–∞ —Ñ—É–Ω–∫—Ü—ñ–π**  
üìå **–§—É–Ω–∫—Ü—ñ—è, —â–æ –ø–æ–≤–µ—Ä—Ç–∞—î –∑–≤–∞–Ω–Ω—è –≤—ñ–π—Å—å–∫–æ–≤–æ—Å–ª—É–∂–±–æ–≤—Ü—è –∑–∞ ID:**  
```sql
CREATE OR REPLACE FUNCTION get_rank(p_id INT) RETURNS VARCHAR AS $$
DECLARE
    v_rank VARCHAR;
BEGIN
    SELECT rank INTO v_rank FROM Personnel WHERE personnel_id = p_id;
    RETURN v_rank;
END;
$$ LANGUAGE plpgsql;
```
üìå **–í–∏–∫–ª–∏–∫ —Ñ—É–Ω–∫—Ü—ñ—ó:**  
```sql
SELECT get_rank(1);
```

üìå **–ü—Ä–æ—Ü–µ–¥—É—Ä–∞ –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∑–≤–∞–Ω–Ω—è –≤—ñ–π—Å—å–∫–æ–≤–æ–≥–æ:**  
```sql
CREATE OR REPLACE PROCEDURE update_rank(p_id INT, new_rank VARCHAR) AS $$
BEGIN
    UPDATE Personnel SET rank = new_rank WHERE personnel_id = p_id;
END;
$$ LANGUAGE plpgsql;
```
üìå **–í–∏–∫–ª–∏–∫ –ø—Ä–æ—Ü–µ–¥—É—Ä–∏:**  
```sql
CALL update_rank(1, '–ü–æ–ª–∫–æ–≤–Ω–∏–∫');
```

---

## **3. –ü–æ–Ω—è—Ç—Ç—è –ø—Ä–æ —Ç—Ä–∏–≥–µ—Ä–∏ —Ç–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó (50 —Ö–≤)**  

### **3.1. –©–æ —Ç–∞–∫–µ —Ç—Ä–∏–≥–µ—Ä–∏?**  
üìå **–¢—Ä–∏–≥–µ—Ä–∏** ‚Äì —Ü–µ –º–µ—Ö–∞–Ω—ñ–∑–º —É –±–∞–∑—ñ –¥–∞–Ω–∏—Ö, —è–∫–∏–π –∞–≤—Ç–æ–º–∞—Ç–∏—á–Ω–æ –≤–∏–∫–æ–Ω—É—î –ø–µ–≤–Ω—É –æ–ø–µ—Ä–∞—Ü—ñ—é –ø—Ä–∏ –∑–º—ñ–Ω—ñ –¥–∞–Ω–∏—Ö —É —Ç–∞–±–ª–∏—Ü—ñ.  

**–û—Å–Ω–æ–≤–Ω—ñ –≤–∏–¥–∏ —Ç—Ä–∏–≥–µ—Ä—ñ–≤:**
- **BEFORE** ‚Äì –≤–∏–∫–æ–Ω—É—î—Ç—å—Å—è –¥–æ –≤–Ω–µ—Å–µ–Ω–Ω—è –∑–º—ñ–Ω.  
- **AFTER** ‚Äì –≤–∏–∫–æ–Ω—É—î—Ç—å—Å—è –ø—ñ—Å–ª—è –≤–Ω–µ—Å–µ–Ω–Ω—è –∑–º—ñ–Ω.  
- **INSTEAD OF** ‚Äì –∑–∞–º—ñ–Ω—é—î –æ–ø–µ—Ä–∞—Ü—ñ—é.  

---

### **3.2. –ü—Ä–∏–∫–ª–∞–¥ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è —Ç—Ä–∏–≥–µ—Ä–∞**
üìå **–ê–≤—Ç–æ–º–∞—Ç–∏—á–Ω–µ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –¥–∞—Ç–∏ –∑–º—ñ–Ω–∏ –∑–∞–ø–∏—Å—É**  
```sql
ALTER TABLE Personnel ADD COLUMN updated_at TIMESTAMP DEFAULT NOW();

CREATE OR REPLACE FUNCTION update_timestamp() RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER personnel_update_trigger
BEFORE UPDATE ON Personnel
FOR EACH ROW
EXECUTE FUNCTION update_timestamp();
```
üìå **–¢–µ—Å—Ç—É–≤–∞–Ω–Ω—è —Ç—Ä–∏–≥–µ—Ä–∞:**  
```sql
UPDATE Personnel SET rank = '–ú–∞–π–æ—Ä' WHERE personnel_id = 1;
SELECT * FROM Personnel;
```

---

### **3.3. –û—Å–Ω–æ–≤–∏ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ–π**
üìå **–¢—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è** ‚Äì —Ü–µ –≥—Ä—É–ø–∞ SQL-–æ–ø–µ—Ä–∞—Ü—ñ–π, —â–æ –≤–∏–∫–æ–Ω—É—î—Ç—å—Å—è —è–∫ —î–¥–∏–Ω–µ —Ü—ñ–ª–µ.  
–í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å—Å—è –∫–æ–º–∞–Ω–¥–∏:
- **`BEGIN`** ‚Äì –ø–æ—á–∞—Ç–æ–∫ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó.  
- **`COMMIT`** ‚Äì –∑–±–µ—Ä–µ–∂–µ–Ω–Ω—è –∑–º—ñ–Ω.  
- **`ROLLBACK`** ‚Äì —Å–∫–∞—Å—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω.  
- **`SAVEPOINT`** ‚Äì —Ç–æ—á–∫–∞ –≤—ñ–¥–∫–∞—Ç—É —É —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó.  

üìå **–ü—Ä–∏–∫–ª–∞–¥ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ–π:**  
```sql
BEGIN;
UPDATE Personnel SET rank = '–ì–µ–Ω–µ—Ä–∞–ª' WHERE personnel_id = 1;
ROLLBACK; -- –í—ñ–¥–º—ñ–Ω–∞ –∑–º—ñ–Ω
```
üìå **–í–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è `SAVEPOINT`**  
```sql
BEGIN;
UPDATE Personnel SET rank = '–ì–µ–Ω–µ—Ä–∞–ª' WHERE personnel_id = 1;
SAVEPOINT sp1;
UPDATE Personnel SET rank = '–ú–∞—Ä—à–∞–ª' WHERE personnel_id = 2;
ROLLBACK TO sp1; -- –í—ñ–¥–∫–∞—Ç –¥–æ SAVEPOINT
COMMIT;
```

---

## **4. –ü—Ä–∞–∫—Ç–∏—á–Ω—ñ –∑–∞–≤–¥–∞–Ω–Ω—è (30 —Ö–≤)**  
‚úÖ **–ó–∞–≤–¥–∞–Ω–Ω—è 1:** **–°—Ç–≤–æ—Ä–∏—Ç–∏ —Ñ—É–Ω–∫—Ü—ñ—é, —è–∫–∞ –ø–æ–≤–µ—Ä—Ç–∞—î –Ω–∞–∑–≤—É –ø—ñ–¥—Ä–æ–∑–¥—ñ–ª—É –∑–∞ ID –≤—ñ–π—Å—å–∫–æ–≤–æ–≥–æ.**  
‚úÖ **–ó–∞–≤–¥–∞–Ω–Ω—è 2:** **–°—Ç–≤–æ—Ä–∏—Ç–∏ –ø—Ä–æ—Ü–µ–¥—É—Ä—É, —è–∫–∞ –∑–º—ñ–Ω—é—î –º—ñ—Å—Ü–µ –¥–∏—Å–ª–æ–∫–∞—Ü—ñ—ó –ø—ñ–¥—Ä–æ–∑–¥—ñ–ª—É.**  
‚úÖ **–ó–∞–≤–¥–∞–Ω–Ω—è 3:** **–°—Ç–≤–æ—Ä–∏—Ç–∏ —Ç—Ä–∏–≥–µ—Ä, —â–æ –∞–≤—Ç–æ–º–∞—Ç–∏—á–Ω–æ –∑–∞–ø–∏—Å—É—î –∑–º—ñ–Ω–∏ —É –ø—ñ–¥—Ä–æ–∑–¥—ñ–ª–∞—Ö.**  
‚úÖ **–ó–∞–≤–¥–∞–Ω–Ω—è 4:** **–í–∏–∫–æ–Ω–∞—Ç–∏ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—é –∑ –∫—ñ–ª—å–∫–æ–º–∞ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è–º–∏ —Ç–∞ —Ç–æ—á–∫–æ—é –∑–±–µ—Ä–µ–∂–µ–Ω–Ω—è.**  

üìå **–ü—Ä–∏–∫–ª–∞–¥ —Ä—ñ—à–µ–Ω–Ω—è –∑–∞–≤–¥–∞–Ω–Ω—è 1:**  
```sql
CREATE OR REPLACE FUNCTION get_unit(p_id INT) RETURNS VARCHAR AS $$
DECLARE
    v_unit VARCHAR;
BEGIN
    SELECT unit INTO v_unit FROM Personnel WHERE personnel_id = p_id;
    RETURN v_unit;
END;
$$ LANGUAGE plpgsql;
```
üìå **–ü—Ä–∏–∫–ª–∞–¥ —Ä—ñ—à–µ–Ω–Ω—è –∑–∞–≤–¥–∞–Ω–Ω—è 4:**  
```sql
BEGIN;
UPDATE Personnel SET rank = '–ì–µ–Ω–µ—Ä–∞–ª' WHERE personnel_id = 1;
SAVEPOINT sp1;
UPDATE Personnel SET unit = '–ë–∞—Ç–∞–ª—å–π–æ–Ω C' WHERE personnel_id = 2;
ROLLBACK TO sp1;
COMMIT;
```

---

## **5. –í–∏—Å–Ω–æ–≤–∫–∏ —Ç–∞ –ø—ñ–¥—Å—É–º–∫–∏ –∑–∞–Ω—è—Ç—Ç—è (10 —Ö–≤)**  
‚úÖ **–û—Å–Ω–æ–≤–Ω—ñ –≤–∏—Å–Ω–æ–≤–∫–∏**:
- **–§—É–Ω–∫—Ü—ñ—ó —Ç–∞ –ø—Ä–æ—Ü–µ–¥—É—Ä–∏** –¥–æ–∑–≤–æ–ª—è—é—Ç—å –∞–≤—Ç–æ–º–∞—Ç–∏–∑—É–≤–∞—Ç–∏ –∑–∞–ø–∏—Ç–∏.
- **–¢—Ä–∏–≥–µ—Ä–∏** –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å—Å—è –¥–ª—è –∞–≤—Ç–æ–º–∞—Ç–∏—á–Ω–∏—Ö –æ–Ω–æ–≤–ª–µ–Ω—å –∑–∞–ø–∏—Å—ñ–≤.
- **–¢—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó** –¥–æ–ø–æ–º–∞–≥–∞—é—Ç—å –∫–æ–Ω—Ç—Ä–æ–ª—é–≤–∞—Ç–∏ –∑–º—ñ–Ω–∏ –≤ –±–∞–∑—ñ –¥–∞–Ω–∏—Ö.

üöÄ **–ö–ª—é—á–æ–≤–∏–π –º–µ—Å–µ–¥–∂**:  
**–í–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –ø—Ä–æ—Ü–µ–¥—É—Ä, —Ç—Ä–∏–≥–µ—Ä—ñ–≤ —Ç–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ–π –ø—ñ–¥–≤–∏—â—É—î –±–µ–∑–ø–µ–∫—É —Ç–∞ –µ—Ñ–µ–∫—Ç–∏–≤–Ω—ñ—Å—Ç—å —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–æ—é –¥–∞–Ω–∏—Ö, —â–æ –∫—Ä–∏—Ç–∏—á–Ω–æ –≤–∞–∂–ª–∏–≤–æ —É –≤—ñ–π—Å—å–∫–æ–≤–∏—Ö –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–∏—Ö —Å–∏—Å—Ç–µ–º–∞—Ö.**